{:service-name "kixi.datastore"
 :web-server #profile {:local {:vhost #or [#env VHOST "localhost"]
                               :port 8080
                               :request-logging? true}
                       :jenkins {:vhost "localhost"
                                 :port 8080
                                 :request-logging? true}
                       :staging {:vhost "kixi.datastore.marathon.mesos"
                                 :port 18080
                                 :request-logging? true}}
 :metrics {:json-reporter {:seconds #profile {:staging 60
                                              :local 1
                                              :jenkins 30}}}
 :logging {:level :info ; e/o #{:trace :debug :info :warn :error :fatal :report}
           ;; Control log filtering by namespaces/patterns. Useful for turning off
           ;; logging in noisy libraries, etc.:
           ;;:ns-whitelist  ["whiner.*"] #_["my-app.foo-ns"]
           :ns-blacklist ["org.eclipse.jetty"]}
 :filestore #profile {:local {:local {:base-dir "/kixi-datastore"}
                                        ;To use S3 locally, remove :local config and set some keys.
                              #_:s3 #_{:bucket "kixi-data-store-file-store"
                                       :endpoint "s3.eu-central-1.amazonaws.com"
                                       :link-expiration-mins 10
                                       :profile "witan"}}
                      :jenkins {:s3 {:bucket "kixi-data-store-file-store-jenkins"
                                     :endpoint "s3.eu-central-1.amazonaws.com"
                                     :link-expiration-mins 10}}
                      :staging {:s3 {:bucket "kixi-data-store-file-store-staging"
                                     :endpoint "s3.eu-central-1.amazonaws.com"
                                     :link-expiration-mins 10}}
                      :prod {:s3 {:bucket "production-kixi-data-store-file-store"
                                  :endpoint "s3.eu-central-1.amazonaws.com"
                                  :link-expiration-mins 10}}}
 :metadatastore {:elasticsearch #profile {:local {:host #or [#env ELASTICSEARCH "localhost"]
                                                  :port 9200
                                                  :native-port 9300}
                                          :jenkins {:discover "http://staging-masters.sandpit-vpc.kixi/service/elasticsearch/v1/tasks"
                                                    :cluster "mesos-ha"}
                                          :staging {:discover "http://staging-masters.sandpit-vpc.kixi/service/elasticsearch/v1/tasks"
                                                    :cluster "mesos-ha"}}}
 :schemastore {:elasticsearch #profile {:local {:host #or [#env ELASTICSEARCH "localhost"]
                                                :port 9200
                                                :native-port 9300}
                                        :jenkins {:discover "http://staging-masters.sandpit-vpc.kixi/service/elasticsearch/v1/tasks"
                                                  :cluster "mesos-ha"}
                                        :staging {:discover "http://staging-masters.sandpit-vpc.kixi/service/elasticsearch/v1/tasks"
                                                  :cluster "mesos-ha"}}}
 :segmentation {:inmemory {}}
 :communications {:kafka #profile {:local {:host #or [#env ZOOKEEPER "127.0.0.1"]
                                           :port 2181
                                           :consumer-config {:session.timeout.ms 6000
                                                             :auto.commit.interval.ms 1500
                                                             :max.poll.records 1
                                                             :poll-timeout 10}}
                                   :jenkins {:host "master.mesos"
                                             :port 2181
                                             :zk-path "/dcos-service-kafka/"
                                             :topics {:command "command-datastore-testing"
                                                      :event "event-datastore-testing"}
                                             :consumer-config {:session.timeout.ms 6000
                                                               :auto.commit.interval.ms 1500
                                                               :max.poll.records 1
                                                               :poll-timeout 10}}
                                   :staging {:host "master.mesos"
                                             :zk-path "/dcos-service-kafka/"
                                             :port 2181
                                             :consumer-config {:session.timeout.ms 6000
                                                               :auto.commit.interval.ms 1500
                                                               :poll-timeout 10}}}}}
